@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-semi-condensed-extralight {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-semi-condensed-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-semi-condensed-regular {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semi-condensed-bold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-semi-condensed-extrabold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-semi-condensed-black {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-semi-condensed-thin-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-semi-condensed-extralight-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-semi-condensed-light-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-semi-condensed-regular-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-semi-condensed-medium-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semi-condensed-semibold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-semi-condensed-extrabold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-semi-condensed-black-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root{
  /* Primary */
  --color1: #eee5ff;
  --color2: #c4a2f6;
  --color3: #7541c8;
  /* Neutral */
  --white: #fff;
  --color5: #e7eaee;
  --color6: #cfcfcf;
  --color7: #676d7e;
  --color8: #48556a;
  --color9: #19212e;
  --black: #121212;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--color1);
  color: var(--white);
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 30px;
}
img{
  border-radius: 50%;
  width: 40px;
  height: auto;
}
.profil{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.info-profil{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
h2{
  font-size: 16px;
}
.intro{
  font-size: 1.54em;
}

.card1{
  background-color: var(--color3);
}
.card2{
  background-color: var(--color8);
}
.card3, .card5{
  background-color: var(--white);
  color: var(--color8);
}
.card4{
  background-color: var(--color9);
}
@media screen and (min-width: 380px) {
  .main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "card1 card1 card2 card5"
      "card3 card4 card4 card5";
    gap: 20px;
    align-items: stretch;
  }
  .intro{
    font-size: 25px;
  }
  .testimonial{
    font-size: 20px;
  }
  .card1{
    background: url(images/bg-pattern-quotation.svg),var(--color3);
    background-position: 90% 0;
    background-repeat: no-repeat;
    grid-area: card1;
  }
  .card2{
    grid-area: card2;
  }
  .card3{
    grid-area: card3;
  }
  .card4{
    grid-area: card4;
  }
  .card5{
    grid-area: card5;
  }
}